In [ ]:
#----------------------------------------------------------------------------------------------------------------#
#:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->#
#                                                                                                                #
# Regression & Time Series Models                                             ########   ########                #
#                                                                            ##         ##                       #
# Regression using CAPM model                                                ##   ####  ##                       #
#                                                                            ##     ##  ##                       #
# 30/10/2024                                                                  ########   ########                #
#                                                                                                                #
#:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->:<->#
#----------------------------------------------------------------------------------------------------------------#

Import required libraries

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

### Assignment 1

In [4]:
# Set time range of 24 years
t = pd.date_range(start='31/10/2000', end='31/10/2024', freq='ME')

# Define column names for the equities' total return indices
equity_TRI_columns = [
    'JOHNSON & JOHNSON - TOT RETURN IND',
    'BOSTON SCIENTIFIC - TOT RETURN IND',
    'ELI LILLY - TOT RETURN IND',
    'PFIZER - TOT RETURN IND', 
    'TELEFLEX - TOT RETURN IND',
    'CIGNA - TOT RETURN IND',
    'REVVITY - TOT RETURN IND',
    'MEDTRONIC - TOT RETURN IND', 
    'LABCORP HOLDINGS - TOT RETURN IND',
    'HUMANA - TOT RETURN IND'
    ]

equity_MV_columns = [
    'JOHNSON & JOHNSON - MARKET VALUE',
    'BOSTON SCIENTIFIC - MARKET VALUE',
    'ELI LILLY - MARKET VALUE',
    'PFIZER - MARKET VALUE', 
    'TELEFLEX - MARKET VALUE',
    'CIGNA - MARKET VALUE',
    'REVVITY - MARKET VALUE',
    'MEDTRONIC - MARKET VALUE', 
    'LABCORP HOLDINGS - MARKET VALUE',
    'HUMANA - MARKET VALUE'
    ]

In [5]:
# Download risk free interest rates (skipping rows 1,2 because they are not actual market values, rather additional information)
rF_yearly = pd.read_excel('INTEREST_RATE.xlsx', usecols=['US FEDERAL FUNDS RATE (MONTHLY AVERAGE) NADJ'], skiprows=[1, 2], header=0)

# Verify there are no NaN values in the DataFrame
assert not rF_yearly.isnull().values.any(), "DataFrame contains NaN values"

# Adding a missing value for October 2024, required since other files contain this data. 
# Source: https://www.federalreserve.gov/releases/h15/
rF_yearly.loc[len(rF_yearly)] = 4.92

#calculation of the monthly rates
rF = np.array(rF_yearly / 12)

rF_yearly

     US FEDERAL FUNDS RATE (MONTHLY AVERAGE) NADJ
0                                            6.51
1                                            6.51
2                                            6.40
3                                            5.98
4                                            5.49
..                                            ...
284                                          5.33
285                                          5.33
286                                          5.33
287                                          5.13
288                                          4.92

[289 rows x 1 columns]

In [6]:
# Download overall equity market index
health_MKT = pd.read_excel('STOXX_HEALTH_PI.xlsx', usecols=['STOXX NTH AMER 600 HEALTH CARE E - PRICE INDEX'])

# Verify there are no NaN values in the DataFrame
assert not health_MKT.isnull().values.any(), "DataFrame contains NaN values"

# Conversion in percentual montlhy variance
rMKT = 100 * (np.log(health_MKT) - np.log(health_MKT.shift(1)))

# Calculation of excess returns (market return-riskfree)
rMKT = np.array(rMKT)
eMKT = np.subtract(rMKT, rF)

In [7]:
# Download market value of constituents
mkt_value = pd.read_excel('MKT_VALUE.xlsx', usecols=equity_MV_columns, skiprows=[1, 2], header=0)

# Verify there are no NaN values in the DataFrame
assert not mkt_value.isnull().values.any(), "DataFrame contains NaN values"

mkt_value

,BOSTON SCIENTIFIC - MARKET VALUE,ELI LILLY - MARKET VALUE,HUMANA - MARKET VALUE,JOHNSON & JOHNSON - MARKET VALUE,LABCORP HOLDINGS - MARKET VALUE,MEDTRONIC - MARKET VALUE,PFIZER - MARKET VALUE,REVVITY - MARKET VALUE,TELEFLEX - MARKET VALUE,CIGNA - MARKET VALUE
0,6477.17,99042.75,1834.54,127476.0,4526.31,61178.67,270664.4,5693.63,1296.75,17516.23
1,5943.75,95795.44,2023.23,132168.4,4804.89,63427.87,266336.9,5051.79,1468.70,18926.79
2,5257.94,99042.75,2400.62,141118.6,5768.98,69725.63,279963.5,4961.00,1621.54,20177.83
3,6502.57,93465.81,2096.61,125911.9,4832.47,64327.55,270894.3,4293.29,1566.61,18494.04
4,6400.97,85785.25,2096.61,132762.8,5110.60,58719.52,282771.0,3763.12,1615.52,15688.00
...,...,...,...,...,...,...,...,...,...,...
284,112777.60,845964.90,43144.03,358883.9,17533.08,103915.20,160704.5,13190.71,9454.89,97477.00
285,114321.20,817233.90,46511.14,376204.2,17658.68,102543.20,169884.3,13771.90,10577.82,95654.50
286,116587.80,905508.30,42489.74,395101.1,19386.29,113305.90,163767.4,14954.57,11421.75,98957.44
287,122979.00,878601.80,37593.01,391851.3,18522.30,115114.20,167167.4,15409.68,11586.18,98728.19
288,125320.50,847133.40,31133.47,394055.6,19279.86,116691.60,162294.0,14324.32,11101.82,88963.56

In [8]:
# Load all equities in a single DataFrame
data = pd.read_excel('Stocks_Constituents.xlsx', usecols=equity_TRI_columns)

# (Optional) Print the dataframe including all downloaded data
# data

### Assignment 2

In [10]:
# Calculate the log returns for all equities
log_returns = 100 * (np.log(data) - np.log(data.shift(1)))

# Drop the first row (since log returns are computed as difference between consecutive data, first row will be NaN)
log_returns = log_returns.iloc[1:]

# Verify there are no other NaN values in the DataFrame
assert not log_returns.isnull().values.any(), "DataFrame contains NaN values"

# (Optional) Print the dataframe including all downloaded data
# log_returns

# Convert log returns to NumPy arrays for each equity (optional)
excess_returns = {}
for column in equity_TRI_columns:
    r_equity = np.array(log_returns[column])
    e_equity = np.subtract(r_equity, rF)
    excess_returns[column] = e_equity  # Store each excess return in a dictionary

{'JOHNSON & JOHNSON - TOT RETURN IND': array([[ 3.40820799e+00,  6.00991561e+00, -1.19443283e+01, ...,
          4.35842691e+00, -6.10324652e-01,  2.77099187e-03],
        [ 3.40820799e+00,  6.00991561e+00, -1.19443283e+01, ...,
          4.35842691e+00, -6.10324652e-01,  2.77099187e-03],
        [ 3.41737466e+00,  6.01908228e+00, -1.19351617e+01, ...,
          4.36759358e+00, -6.01157985e-01,  1.19376585e-02],
        ...,
        [ 3.50654133e+00,  6.10824895e+00, -1.18459950e+01, ...,
          4.45676024e+00, -5.11991319e-01,  1.01104325e-01],
        [ 3.52320799e+00,  6.12491561e+00, -1.18293283e+01, ...,
          4.47342691e+00, -4.95324652e-01,  1.17770992e-01],
        [ 3.54070799e+00,  6.14241561e+00, -1.18118283e+01, ...,
          4.49092691e+00, -4.77824652e-01,  1.35270992e-01]]),
 'BOSTON SCIENTIFIC - TOT RETURN IND': array([[-20.74118362,   3.65552898,  23.74340616, ...,   5.96161991,
           2.72565891,   0.89904545],
        [-20.74118362,   3.65552898,  23.74340616, ...,   5.96161991,
           2.72565891,   0.89904545],
        [-20.73201695,   3.66469564,  23.75257282, ...,   5.97078658,
           2.73482558,   0.90821211],
        ...,
        [-20.64285028,   3.75386231,  23.84173949, ...,   6.05995325,
           2.82399224,   0.99737878],
        [-20.62618362,   3.77052898,  23.85840616, ...,   6.07661991,
           2.84065891,   1.01404545],
        [-20.60868362,   3.78802898,  23.87590616, ...,   6.09411991,
           2.85815891,   1.03154545]]),
 'ELI LILLY - TOT RETURN IND': array([[  7.45494264,  -2.07527707, -14.30134111, ...,  14.77598702,
          -7.41101917,   2.35325407],
        [  7.45494264,  -2.07527707, -14.30134111, ...,  14.77598702,
          -7.41101917,   2.35325407],
        [  7.4641093 ,  -2.0661104 , -14.29217444, ...,  14.78515369,
          -7.40185251,   2.36242074],
        ...,
        [  7.55327597,  -1.97694373, -14.20300778, ...,  14.87432035,
          -7.31268584,   2.4515874 ],
        [  7.56994264,  -1.96027707, -14.18634111, ...,  14.89098702,
          -7.29601917,   2.46825407],
        [  7.58744264,  -1.94277707, -14.16884111, ...,  14.90848702,
          -7.27851917,   2.48575407]]),
 'PFIZER - TOT RETURN IND': array([[ 3.00916629,  0.27607563, -6.59136729, ..., -7.27451001,
          0.73753844, -2.73195995],
        [ 3.00916629,  0.27607563, -6.59136729, ..., -7.27451001,
          0.73753844, -2.73195995],
        [ 3.01833296,  0.28524229, -6.58220063, ..., -7.26534334,
          0.74670511, -2.72279329],
        ...,
        [ 3.10749962,  0.37440896, -6.49303396, ..., -7.17617668,
          0.83587178, -2.63362662],
        [ 3.12416629,  0.39107563, -6.47636729, ..., -7.15951001,
          0.85253844, -2.61695995],
        [ 3.14166629,  0.40857563, -6.45886729, ..., -7.14201001,
          0.87003844, -2.59945995]]),
 'TELEFLEX - TOT RETURN IND': array([[19.64967818,  8.48057575, -5.73885144, ...,  8.57747   ,
          0.79938091, -4.84306746],
        [19.64967818,  8.48057575, -5.73885144, ...,  8.57747   ,
          0.79938091, -4.84306746],
        [19.65884484,  8.48974242, -5.72968477, ...,  8.58663667,
          0.80854758, -4.83390079],
        ...,
        [19.74801151,  8.57890908, -5.64051811, ...,  8.67580333,
          0.89771424, -4.74473413],
        [19.76467818,  8.59557575, -5.62385144, ...,  8.69247   ,
          0.91438091, -4.72806746],
        [19.78217818,  8.61307575, -5.60635144, ...,  8.70997   ,
          0.93188091, -4.71056746]]),
 'CIGNA - TOT RETURN IND': array([[  8.08397632,   5.38382888, -13.26087741, ...,   3.56208417,
          -3.9318057 , -12.59190667],
        [  8.08397632,   5.38382888, -13.26087741, ...,   3.56208417,
          -3.9318057 , -12.59190667],
        [  8.09314298,   5.39299555, -13.25171075, ...,   3.57125083,
          -3.92263903, -12.58274001],
        ...,
        [  8.18230965,   5.48216221, -13.16254408, ...,   3.6604175 ,
          -3.83347236, -12.49357334],
        [  8.19897632,   5.49882888, -13.14587741, ...,   3.67708417,
          -3.8168057 , -12.47690667],
        [  8.21647632,   5.51632888, -13.12837741, ...,   3.69458417,
          -3.7993057 , -12.45940667]]),
 'REVVITY - TOT RETURN IND': array([[-20.06248258,  13.08316589, -14.48199103, ...,  -3.29521908,
           2.58376216,  -7.2949394 ],
        [-20.06248258,  13.08316589, -14.48199103, ...,  -3.29521908,
           2.58376216,  -7.2949394 ],
        [-20.05331591,  13.09233256, -14.47282436, ...,  -3.28605241,
           2.59292883,  -7.28577274],
        ...,
        [-19.96414925,  13.18149922, -14.3836577 , ...,  -3.19688575,
           2.68209549,  -7.19660607],
        [-19.94748258,  13.19816589, -14.36699103, ...,  -3.18021908,
           2.69876216,  -7.1799394 ],
        [-19.92998258,  13.21566589, -14.34949103, ...,  -3.16271908,
           2.71626216,  -7.1624394 ]]),
 'MEDTRONIC - TOT RETURN IND': array([[  3.93409963,  10.15531579, -10.51176212, ...,   9.20419676,
           1.51133528,   0.57085218],
        [  3.93409963,  10.15531579, -10.51176212, ...,   9.20419676,
           1.51133528,   0.57085218],
        [  3.9432663 ,  10.16448245, -10.50259545, ...,   9.21336342,
           1.52050194,   0.58001885],
        ...,
        [  4.03243296,  10.25364912, -10.41342878, ...,   9.30253009,
           1.60966861,   0.66918551],
        [  4.04909963,  10.27031579, -10.39676212, ...,   9.31919676,
           1.62633528,   0.68585218],
        [  4.06659963,  10.28781579, -10.37926212, ...,   9.33669676,
           1.64383528,   0.70335218]]),
 'LABCORP HOLDINGS - TOT RETURN IND': array([[  6.3860138 ,  23.59889422, -23.21348543, ...,   8.37622104,
          -3.90235696,   2.1180751 ],
        [  6.3860138 ,  23.59889422, -23.21348543, ...,   8.37622104,
          -3.90235696,   2.1180751 ],
        [  6.39518047,  23.60806088, -23.20431876, ...,   8.3853877 ,
          -3.89319029,   2.12724177],
        ...,
        [  6.48434713,  23.69722755, -23.11515209, ...,   8.47455437,
          -3.80402363,   2.21640844],
        [  6.5010138 ,  23.71389422, -23.09848543, ...,   8.49122104,
          -3.78735696,   2.2330751 ],
        [  6.5185138 ,  23.73139422, -23.08098543, ...,   8.50872104,
          -3.76985696,   2.2505751 ]]),
 'HUMANA - TOT RETURN IND': array([[  4.31023799,  24.47186287, -18.05596339, ..., -11.51814417,
         -10.02601744, -21.75433307],
        [  4.31023799,  24.47186287, -18.05596339, ..., -11.51814417,
         -10.02601744, -21.75433307],
        [  4.31940466,  24.48102954, -18.04679673, ..., -11.5089775 ,
         -10.01685077, -21.7451664 ],
        ...,
        [  4.40857133,  24.57019621, -17.95763006, ..., -11.41981084,
          -9.92768411, -21.65599974],
        [  4.42523799,  24.58686287, -17.94096339, ..., -11.40314417,
          -9.91101744, -21.63933307],
        [  4.44273799,  24.60436287, -17.92346339, ..., -11.38564417,
          -9.89351744, -21.62183307]])}